
<h1 class="custom-title">This is the custom list</h1>

{{#each item in model}}
    <div class="item">
        {{#model-to 'display' item classNames="item-title"}}
            {{item.title}}{{#if item.boolean}} !!{{/if}}
        {{/model-to}}
        <p class="item-description">--{{item.description}}:{{item.customField}}--</p>
    </div>
{{/each}}