<p class="document">
    This is a custom template. The model {{model.title}} cannot be edited even with <i>{{model.customField}}</i>
</p>

<p>Controller's breaking news: <b class="ctrl-field">{{ctrlField}}</b></p>

<p>The route say: <b class="route-field">{{model.routeField}}</b></p>
